body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: purple;
}

#chatBox {
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: grey;
}

.inputContainer {
    display: flex;
}

#messageInput {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#sendButton {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}
